'editor':
  'fontSize': 16
  'showInvisibles': true
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
'exception-reporting':
  'userId': '5e89d99b-958f-5e69-98f6-e18efc15dc07'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '19adb9ed73a38b84e3a80b478bebe0389d9e5618'
